---
---

@import "{{ site.theme }}";

.social_networks_links {
  list-style: none;
  height: 40px;
  padding: 0;
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.social_networks_links li {
  width: 89px;
  float: left;
  height: 40px;
}


.social_networks_links a {
  line-height: 1;
  font-size: 11px;
  display: block;
  text-align: center;
  padding-top: 6px;
  height: 34px;
}

h2 {
  color: #267CB9;
  font-size: 1.5rem;
}

.profile_section {
  margin-top: 1rem;
  list-style: none;
  padding: 0;
}

.profile_section li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0.5rem 0;
}
.profile_section li > img {
  margin-right: 0.5rem;
}