---
---

@import "{{ site.theme }}";

@media print {
  @page { margin: 0.6in; }
  footer {
    display: none;
  }

  body {
    font-size: 12pt;
    line-height: 1.5;
  }

  .site-logo {
    width: 25%;
  }

  .presentation {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .page-break {
    page-break-before: always;
  }

}

.social-networks-links {
  list-style: none;
  height: 40px;
  padding: 0;
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.social-networks-links li {
  width: 89px;
  float: left;
  height: 40px;
}


.social-networks-links a {
  line-height: 1;
  font-size: 11px;
  display: block;
  text-align: center;
  padding-top: 6px;
  height: 34px;
}

h2 {
  color: #267CB9;
  font-size: 1.5rem;
}

.profile-section {
  margin-top: 1rem;
  list-style: none;
  padding: 0;
}

.profile-section li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0.5rem 0;
}

.site_logo {
  max-width: 100%;
  height: auto;
}

.company-group {
  border-left: solid 1px #aaa;
  padding-left: 1rem;
}

.position-group, .achievement-group {
  border-left: solid 1px #267cb991;
  padding-left: 1rem;
}